section {
    position: absolute;
    display: none;
  }
  
  /* 表示スタイル（動作に無関係） */
  section {
    margin-top: 3rem;
    border: 1px solid #ccc;
    padding: 3rem;
    width: 100%;
    box-sizing: border-box;
  }
  #a01 {
    background: #D8DBE2;
  }
  #a02 {
    background: #A9BCD0;
  }
  #a03 {
    background: #58A4B0;
  }
  